[staticMenu topmenu]
code = "topmenu"

[viewBag]
==
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container">

        <a class="navbar-brand" href="/">Climatorium</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">


            {% if topmenu.menuItems %}

            <ul class="navbar-nav ml-auto">

                {% for item in topmenu.menuItems if not item.viewBag.isHidden %}

                <li role="presentation" class=" nav-item  {{ item.items ? 'dropdown':'' }} {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }} {{ item.viewBag.cssClass }}">

                    <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}
                        {{ item.items ? 'role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"' }}
                        class="nav-link {{ item.items ? 'dropdown-toggle':'' }}">
                        {{ item.title }}
                    </a>

                    {% if item.items %}

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        {% for subitem in item.items %}

                        <a href="{{ subitem.url }}" {{ subitem.viewBag.isExternal ? 'target="_blank"' }} class="dropdown-item">
                            {{ subitem.title }}
                        </a>

                        {% endfor %}

                    </div>

                    {% endif %}

                </li>


                {% endfor %}

            </ul>
            {% endif %}




        </div>

    </div>
</nav>